:root{
    --leading: 1.6em;
}
body{
    margin: 0;
    background-color: rgb(255, 254, 247);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a:link{
    text-decoration: none;
}

.menubar {
    display: fixed;
    float: right;
    z-index: 8;
    padding: 30px;
    cursor: pointer;
    transform: rotate(180deg);
}

.bar1, .bar2, .bar3{
  width: 30px;
  height: 3px;
  margin: 6px 0;
  background-color: #333;
  border-radius: 5px;
  transition: 0.4s;
}

.bar2{
    width: 25px;
}

.bar1.change  {
    transform: rotate(-45deg) translate(-0em, .8em);
  }
  
.bar2.change  {
    transform: translateX(-20px) ;
    opacity: 0;
}
  
.bar3.change  {
   transform: rotate(45deg) translate(0em, -.8em);
  }

#navbar {
    background-color: rgb(255, 254, 247);
    position: fixed;
    top: 0px;
    width: 100%;
    display: block;
    transition: top 0.5s ease-out;
    z-index: 9;
  }

#navbar a {
    float: right;
    display: block;
    color: black;
    text-align: center;
    padding-left: 2em;
    padding-right: 2em;
    text-decoration: none;
    font-size: 16px;
}


.logobox{
    float: left;
    padding: 1em;
    transform: rotate(90deg);
}

.logobox img{
    width: 60px;
}

.overlay-menu{
    width: 0%;
    height: 100vh;
    background-color: #FFFDF0;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 0;
    transition: .5s ease-in-out;
    z-index: 7;
}

.overlay-text{
    position: absolute;
    font-weight: 500;
    width: 100%; 
    top: 15%;
    text-align: center;
}

.overlay-text1{
    position: absolute;
    width: 100%; 
    top: 40%;
    right: 10px;
    text-align: center;
    visibility: hidden;
}

.overlay-menu a{
    display: block;
    text-decoration: none;
    color: black;
    font-size: 21px;
    margin: 50px;
    transition: .5s ease-out;
}

.overlay-menu a:hover{
    color: #FFB158;
}

.body-bg{
    color: black;
    text-align: center ;
}

.overlay-menu.change{
    width: 100%;
}

.body.change{
    overflow: hidden;
}

.app{
    position: relative;
    width: 230px;
    height: 420px;
    scroll-snap-align: center;
    margin:0px 30px 0;
}

.body-bg{
    overflow: hidden;
}

.wrapper{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(160px, auto);
    overflow-y: scroll;
}

.wrapper div img{
    cursor: pointer;
    transition: .3s ease-in-out;
}

.cardUX:hover{
    box-shadow: 0px 10px 10px rgba(0, 0 , 0, 0.15);
    transform: rotateX(10deg) translateY(-8px)
}

.wrapper p{
    margin-top: -5px;
    font-size: 14px;
    color: rgb(0, 0, 0);
}
.logo{
    display: flex;
    width: 150px;
    margin-left: 50%;
    transform: translateX(-50%) rotate(-90deg);
}

h2 span{
    font-size: 17px;
    display: block;
    position: absolute;
    right: 0;
    margin: .9em 0 0;
}

p{
    line-height: var(--leading);

}
.project{
    text-align: left;
    margin: 3em 1em;
    padding-left: 10px;
    padding-right: 10px;
}

.project h2{
    display: block;
}

.project-title h2{
    font-weight: 600;
    font-size: 25px;
}

.project-title h2 span{
    margin: .9em 1em 0;
}

.card{
    border-radius: 3px;
    background-color: #FFB158;
    color: black;
    padding: 2rem;
    height: 400px;
    transition: transform .3s, background-color .3s ease-out;
}

.list{
    font-size: 16px;
}

.cards{
    max-width: 400px;
    height: 400px;
    margin: 0 auto;
    display: grid;
    grid-gap: 1rem;
}

.card:hover{
    transform: translateY(-10px);
    background-color: #FF9B29;
    cursor: pointer;
}

.card-text{
    bottom: 0;
}

.card h3{
    margin: 0;
    font-size: 25px;
    font-weight: 600;
}

.card h3 span{
    display: block;
}

.card p{
    font-size: 16px;
}

.footer{
    margin-top: 1550px;
    padding: 0 0 45px 0;
    text-align: center;
}

.footer-text a{
    padding: 16px;
    text-decoration: none;
    color: black;
    transition: .2s ease-in;
}

.footer-text img{
    width: 30px;
    transition: .4s ease-in-out;
}

.footer-name p{
    font-size: 18px;
    color: rgba(0, 0, 0, .5);
}

.bottom-column{
    height: 50%; 
    border: none; 
    visibility: hidden;
}

.column-name{
    margin-left: 50px; 
}

.bg_description{
    text-align: center; 
    margin: 0 10%;
}

@media(min-width: 860px){
    .cards{
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
        max-width: 900px;
    }
    .right-col{
        display: flex;
        max-width: 690px;
        padding-right: 20px;
    }
    
    .project{
        display: flex;
        justify-content: center;
    }

    .footer{
        margin-top: 590px;
    }

    .menubar{
        display: none;
    }

    .overlay-text1{
        visibility: visible;
        font-weight: 500;
    }

    .bottom-column{
        visibility: visible;
    }

    .column-name{
        margin-left: 50px; 
    }

    .bg_description{
        margin: 0 32%;
    }

}
@media(min-width: 1248px){
    .cards{
        grid-template-columns: repeat(3, 1fr);
        max-width: 1300px;
    }

    .bg_description{
        margin: 0 32%;
    }
}